<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotelz.Winforms.Properties.Settings.conStr" connectionString="Data Source=.;Initial Catalog=Hotelz;User ID=sa;Password=vaseline" providerName="System.Data.SqlClient" />
    <add name="HotelzEntities" connectionString="metadata=res://*/Hotelz.HR.ModelHR.csdl|res://*/Hotelz.HR.ModelHR.ssdl|res://*/Hotelz.HR.ModelHR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Hotelz;user id=sa;password=vaseline;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>